* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {


    font-family: "Roboto", sans-serif;

}

main {
    background-image: url(./bg.jpeg);
    width: 100wh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #b3cfe5;
    padding: 8px;
    text-align: center;
}

.head_title {
    text-align: center;
    margin-top: 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
    background: #1a3d63;


}



nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: all 0.5s ease-in-out;
        font-size: 14px;

}

nav a:hover {
    background: #fff;
    color: #1a3d63;
    border-radius: 11px;
}

.Courses {
    background: unset;
}

.Courses .cards {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Courses .card {
    width: 300px;
    max-width: 100%;
    background: #1a3d63;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    min-height: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.5s ease;
}

.Courses .card:hover {
    scale: 1.05;
}

.Courses .card img {
    width: 100%;
    object-fit: cover;

}

.Courses .card h2 {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
}

.Courses .card button {
    background: #fff;
    border: unset;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 12px;
    font-size: 16px;
}

.Courses .card button:hover {
    background: #1a3d63;
    scale: 1.05
}

.home {

    display: flex;
    align-items: center;
    justify-content: center;
}

.home div {
    background-color: #b3cfe5a4;
    width: fit-content;
    color: #fff;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
}




.addCourses {
    color: #b3cfe5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 300px;
}

form div {

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}

form div input,
textarea {
    border: #1a3d63 1px solid;
    border-radius: 8px;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.submit input {
    background-color: #b3cfe5;
    font-size: 18px;
    font-weight: 600;
    transform:  all 1s ease-in-out;
    cursor: pointer;

}

.submit input:hover {
    color: #fff;
    background-color: #b3cfe5;
    scale: 1.1;

}
